body { 
    font-family: Bebas;
    background: linear-gradient(120deg, #cfc424, #8e44ad);
    height: 100vh;
    overflow: hidden;
}

.container{

    margin: auto;
    width: 50%;
    background: white;
    padding: 10px;

}