/*    FOOTER    */

.footer {
  font-family: "Poppins", sans-serif;
}

.footer .mainf {
  height: auto;
  padding: 50px;
  padding-top: 100px;
  background-color: #f4f0ec;
}

.footer .mainf h3 {
  color: var(--darkgold);
}

.footer .mainf .links {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.footer .mainf .links a {
  text-decoration: none;
  color: #111;
  text-transform: uppercase;
  font-size: 14px;
  margin: 12.5px 0;
}

.ftop {
  margin-top: 75px;
  background: #f4f0ec;
  width: 100%;
  height: 83px;
  transform: translateY(50px) skewY(-2.5deg);
}

.footer-links{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 70%;
}
