.section {
    width: 100%;
}

/*    MAIN SECTION    */

.main {
    height: 600px;
}

.main .bgimg {
    background: url('images/back.png');
    background-size: cover;
    filter: brightness(0.5);
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.main .contents {
    width: 100%;
    position: absolute;
    top: 175px;
    left: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main .contents .text {
    height: 100px;
    color: white;
    text-align: center;
}

.main .contents .text h1, .main .contents .text h2 {
    margin: 0;
}

.main .contents .text h1 {
    font-size: 80px;
    letter-spacing: 5px;
    color: rgb(211, 193, 136);
    font-family: 'Bebas';
}

.main .contents .text h2 {
    font-weight:normal;
    letter-spacing: 2px;
    font-family: 'Bebas';
    color:rgb(218, 209, 180);
    font-size: 30px;
}

.main .contents .text h4 {
    font-weight: 100;
    margin-top: 50px;
}

.main .contents .buttons {
    margin-top: 40px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
}

.main .contents .buttons button {
    width: 100%;
    height: 50px;

    color: white;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main .contents .buttons button.filled {
    background-color: #6392bb;
}

.main .contents .buttons button.transparent {
    background-color: transparent;
    border: 2px solid white;
}


/*    MAIN TRANSITION    */
.sectiontransition {
    position: absolute;
    overflow: hidden;
    width: 150%;
    max-width: 102%;
    height: 50px;
    background-color: white;
    margin-top: -20px;
    margin-left: -5px;
    transform: rotate(5deg);
}


/*    ABOUT SECTION    */
.about {
    padding: 20px;
    width: calc(100% - 40px);
    color: black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 40px;
    font-family: 'BigNoodleTitling';
    letter-spacing: 5px; 
    text-align: center;
}

.about h3 {
    font-weight: normal;
}

.about .media_container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


/*    POPULAR SERVICES SECTION    */
.popularServices h1 {
    text-align: center;
}

.popularServices .services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    gap: 10px;
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.popularServices .services .service {
    min-width: 175px;
    max-width: 225px;
    min-height: 100px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.popularServices .services .service .name {
    margin: 0 0;
    font-size: 24px;
}

.popularServices .services .service .desc {
    margin: 5px 0;
    margin-bottom: 10px;;
    font-size: 14px;
    color: gray;
    font-weight: 0;
}

.popularServices .services .service button {
    width: 100%;
    border: none;
    background-color: cornflowerblue;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 5px;
}


/*    AVAILABLE DAYS SECTION    */
.available {
    width: 100%;
    min-height: 200px;
    margin: 20px 0;
    padding: 0 20px;
    box-sizing: border-box;
}

.available h1 {
    font-size: 32px;
}

.available .days {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.available .days .day {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(0, 0, 0, 0.075);
    padding: 5px;
    width: 100%;
}

.available .days .day h3 {
    margin: 0;
}

.available .days .day:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.025);
}