.section {
    width: 100%;
}

/*    MAIN SECTION    */

.main {
    height: 600px;
}

.main .bgimg {
    background: url('images/back.png');
    background-size: cover;
    filter: brightness(0.5);
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.main .contents {
    width: 100%;
    position: absolute;
    top: 175px;
    left: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main .contents .text {
    height: 100px;
    color: white;
    text-align: center;
}

.main .contents .text h1, .main .contents .text h2 {
    margin: 0;
}

.main .contents .text h1 {
    font-size: 80px;
    letter-spacing: 5px;
    color: rgb(211, 193, 136);
    font-family: 'Bebas';
}

.main .contents .text h2 {
    font-weight:normal;
    letter-spacing: 2px;
    font-family: 'Bebas';
    color:rgb(218, 209, 180);
    font-size: 30px;
}

.main .contents .text h4 {
    font-weight: 100;
    margin-top: 50px;
}

.main .contents .buttons {
    margin-top: 40px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
}

.main .contents .buttons button {
    width: 100%;
    height: 50px;

    color: white;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main .contents .buttons button.filled {
    background-color: #6392bb;
}

.main .contents .buttons button.transparent {
    background-color: transparent;
    border: 2px solid white;
}


/*    MAIN TRANSITION    */
.sectiontransition {
    position: absolute;
    overflow: hidden;
    width: 150%;
    max-width: 102%;
    height: 50px;
    background-color: white;
    margin-top: -20px;
    margin-left: -5px;
    transform: rotate(5deg);
}


/*    ABOUT SECTION    */
.about {
    padding: 20px;
    width: calc(100% - 40px);
    color: black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about h1 {
    font-size: 40px;
    font-family: 'BigNoodleTitling';
    letter-spacing: 5px; 
}

.about h3 {
    font-weight: normal;
}

.about .media_container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}