body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f0ec;
    background-color: #fff;
}

.navbar {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    box-sizing: border-box;
    font-size: 1.3rem;
    width: 100%;
}

.scrolling-active {
    background-color: #fff;
    color: #111;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    z-index: 99;
}

.scrolling-active .navitems {
    color: #111;
}

.logo {
    height: 50px;
}

.navbar .navitem h2 {
    margin: auto;
}

/* .navbar .navitem:nth-child(3) img {
    -webkit-filter: invert(100%); 
    filter: invert(100%);
    width: 30px;
    height: 30px;
    filter: invert(97%) sepia(38%) saturate(1625%) hue-rotate(213deg) brightness(95%) contrast(88%);
} */

/*    MENU POPUP    */
.menupopup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    box-shadow: black 0px 0px 20px -10px;

    /* initially hidden */
    left: -100%;
    transition: left 0.4s ease;
}

.menupopup.visible {
    left: 0;
    box-shadow: black 0px 0px 20px 10px;
}

.menupopup button {
    color: gray;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
    width: 32px;
    height: 32px;
    font-size: 16px;
}

.menupopup .items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menupopup .items h2 {
    width: 100%;
    color: white;
    font-size: 50px;
    font-family: "Bebas";
    letter-spacing: 4px;
    margin-top: -20px;
    margin-bottom: 10px;
}

.menupopup .items a {
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: 36px;
    font-family: "Bebas";
    letter-spacing: 4px;
    padding: 15px;
}

.menupopup .items a:last-child {
    padding-bottom: 0;
}
.menupopup .items a:first-child {
    padding-top: 0;
}