:root {
    --darknavy: #09072D;
    --navy:     #0e0d52;
    --pink:     #CE8E86;
    --softwhite:#dfcbdc;
    --white:    #E6B2DC;
    --darkpink: #6D3F47;
    --topaz:    #7C748C;
    --affair:   #794E94;
    --darkgold: #B5763E;
    --gold:     #EAB584;
}

.warning {
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(221, 69, 69);
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 5px;
    margin: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}