:root {
    --img-size: 100px;
}

.category {
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
}

.title {
    width: 100%;
}

.title h1 {
    text-transform: uppercase;
    font-family: "vanilla_whale";
    text-align: center;
    letter-spacing: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.separator {
    width: 75%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.226);
    margin: 0 auto;
}

/* SWIPER AND CAT DISPLAY */

.catswiper {
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.catswiper .arrow {
    max-width: 50px;
}

.catswiper h2 {
    margin: 0;
    font-size: 32px;
}

/* PRODUCT LISTING */

.category .products {
    width: 100%;
}

.category .products .product {
    width: 100%;
    min-height: var(--img-size);
    padding: 30px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 100px calc(100% - var(--img-size));
}

.category .products .product img {
    max-width: var(--img-size);
    max-height: var(--img-size);
}

.category .products .product .details {
    padding: 0 10px;
    box-sizing: border-box;
}

/* title */
.category .products .product .details h3 {
    margin: 0;
    margin-bottom: 5px;
    font-family: "vanilla_whale";
    font-size: 22px;
    letter-spacing: 1px;
}

.category .products .product .details .pricetime {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.category .products .product .details .pricetime h4 {
    margin: 0;
    font-weight: light;
}

.category .products .product .details .pricetime h4:nth-child(1)::before {
    content: '£';
}
.category .products .product .details .pricetime h4:nth-child(1) {color: rgb(46, 221, 46);}
.category .products .product .details .pricetime h4:nth-child(2) {color: rgba(0, 0, 0, 0.555);}


.category .products .product .details .actions {
    margin-top: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.category .products .product .details .actions button {
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

.category .products .product .details .actions .addToBasket {
    flex-grow: 2;
    background-color: rgb(36, 185, 36);
    color: white;
    transition: background-color 0.5s ease;
}

.category .products .product .details .actions .addToBasket.added {
    background-color: rgb(185, 58, 36);
}

.category .products .product .details .actions .help {
    flex-grow: 1;

    background-color: rgba(0, 0, 255, 0.05);
    border: 1px solid blue;
    color: blue;
}


/* HELP POPUPS */
.popup {
    font-family: "vanilla_whale";
}

.popup.footerText {
    color: rgba(0, 0, 0, 0.5);
    font-size: 8px;
}