{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Skin and Clear</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/palette.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/basket.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'notifs/style.css' %}?{% now "U" %}">
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/navbar.js' %}?{% now "U" %}"></script>
        <script src="{% static 'js/basket.js' %}?{% now "U" %}"></script>
        <script src="{% static 'notifs/index.var.js' %}?{% now "U" %}"></script>
        <script src="{% static 'js/storeBasket.js' %}?{% now "U" %}"></script>

        <link rel="shortcut icon" href="{% static 'css/images/favicon.ico' %}" type="image/x-icon">
        <script src="https://kit.fontawesome.com/42509ed0ff.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Main body section -->
        <div class="body">
            <div id="navbar" class="navbar">
                <div class="navitem">
                    <img class="logo" src="{% static 'css/images/logo.png' %}" alt="logo">
                </div>
                <ul class="navitems">
                    <a href="/">HOME</a>
                    <a id="store" href="/store">AESHTHETICS</a>
                    <a style="margin-right:0;" href="/basket">BASKET</a>
                </ul>
                <div id="hamburger" class="hamburger navitem filtered" onclick="openMenu();">
                    <i style="color: #111; font-size: 2rem;" class="fa-solid fa-bars"></i>
                </div>
            </div>

            <div class="title">
                <h1>Book the Services</h1>
                <div class="separator"></div>
            </div>
            
            <div class="contents">
                {% if basket %}
                    <h2 class="serviceEmptyText hidden">No items in basket. Head to the store to add some!</h2>
                {% else %}
                    <h2 class="serviceEmptyText">No items in basket. Head to the store to add some!</h2>
                {% endif %}
                <div class="services">
                    {% for i in basket %}
                        <div class="service" id={{ i.prodID }}>
                            <div class="details">
                                <h4 class="name">{{ i.name }}</h4>
                                <h4 class="price">{{ i.price }}</h4>
                            </div>
                            <button class="remove" onclick="remove('{{ i.prodID }}');"></button>
                        </div>
                    {% endfor %}
                </div>

                <div class="separator"></div>

                <h3 class="totalPrice" style="margin-top: 50px;" id="totalPrice">Total price: £{{ totalPrice }}</h3>
                <h4 class="totaltime" id="totaltime">Estimated time for service: {{ totaltime }}</h4>
                <div class="actions">
                    <button id="book" onclick="window.open('customer', '_self');" disabled>Book now</button>
                    <button id="clear" onclick="clearServices();">Clear services</button>
                </div>
                <div class="warning">Booking services are down for maintainance — please call to book an appointment.<br>Apologies for any inconvenience caused.</div>
            </div>

            <!-- Footer -->
            <footer class="footer">
                <div class="ftop"></div>
                <div class="mainf">
                    <h1>Get In Touch</h1>
                    <div class="flinks">
                        <ul style="margin-left: 0; padding-left: 0; margin-top: 0;">
                            <h2>Contact</h2>
                            <a style="font-family: Poppins;" href="tel:201-469-7717">07360 473668</a> <br>
                            <a style="font-family: Poppins;" href="mailto:email@address.com">skinandclearinfo@gmail.com</a>
                        </ul>
                        <ul  style="padding-left: 0;">
                            <h2>Address</h2>
                            <li>1 Oak Road, Luton </li>
                            <li>Bedfordshire, LU4 8AA</li>
                        </ul>
                        <ul style="margin-bottom: 0; padding-left: 0;">
                            <h2>Socials</h2>
                            <div class="socials">
                                <a href="https://twitter.com"><i style="margin-left: 0;" class="fa-brands fa-twitter"></i></a>
                                <a href="https://facbook.com"><i class="fa-brands fa-facebook"></i></a>
                                <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                        </ul>
                    </div>
                </div> 
                <!-- <div class="copyright">
                    <h4>© AFTERGLOW. ALL RIGHTS RESERVED</h4>
                </div> -->
            </footer>
        </div>

        <!-- Menu popup -->
        <div class="menupopup" id="menupopup">
            <button style="color: #fff;" onclick="closeMenu();"><i style="font-size: 2rem;" class="fa-solid fa-xmark"></i></button>
            <div class="items">
                <a href="/">Home</a>
                <a href="/store">Aesthetics</a>
                <a href="/basket">Basket</a>
                <a href="/store?page=products">Products</a>
                <a href="/store?page=beauty">Beauty</a>
            </div>
        </div> 
    </body>
</html>