{% load static %}

<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Skin & Clear - Beauty Asthetics & Hair Services</title>

    <meta name="description" content="Wide range of advanced beauty, cosmetic
    and aesthetic treatments; all carried out to the highest professional standard.">

    <meta property="og:locale" content="en_US" />

    <meta property="og:type" content="website" />

    <meta property="og:title" content="Skin & Clear - Beauty Asthetics & Hair Services" />

    <meta property="og:description"
        content="Wide range of advanced beauty, cosmetic
        and aesthetic treatments; all carried out to the highest professional standard." />

    <meta property="og:site_name" content="Skin & Care" />

    <meta property="og:image" content="{% static 'css/images/logo.png' %}" />

    <meta property="og:image:width" content="1000" />

    <meta property="og:image:height" content="500" />

    <meta property="og:image:type" content="image/png" />

    <meta name="twitter:card" content="summary_large_image" />

    <meta name="twitter:image" content="{% static 'css/images/logo.png' %}" />

    <script src="https://kit.fontawesome.com/42509ed0ff.js" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/palette.css' %}?{% now " U" %}">

    <link rel="stylesheet" href="{% static 'css/fonts.css' %}?{% now " U" %}">

    <link rel="stylesheet" href="{% static 'css/navbar.css' %}?{% now " U" %}">

    <link rel="stylesheet" href="{% static 'css/index.css' %}?{% now " U" %}">

    <link rel="stylesheet" href="{% static 'css/footer.css' %}?{% now " U" %}">

    <script src="{% static 'js/navbar.js' %}"></script>

    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

    <script src="{% static 'js/index.js' %}?{% now " U" %}"></script>

    <link rel="shortcut icon" href="{% static 'css/images/favicon.ico' %}" type="image/x-icon">

    <script src="" async defer></script>

</head>

<body>

    <!-- Main body section -->
    <div class="body">

        <!-- Main section -->
        <div class="section main">
            <div id="navbar" class="navbar">
                <div class="navitem">
                    <img class="logo" src="{% static 'css/images/logo.png' %}" alt="logo">
                </div>
                <ul class="navitems">
                    <a href="/">HOME</a>
                    <a id="store" href="/store">Store</a>
                    <a href="/store">AESTHETICS</a>
                    <a style="margin-right:0;" href="/basket">BASKET</a>
                </ul>
                <!-- <div class="hamburger navitem filtered" onclick="openMenu();">
                    <img src="{% static 'css/images/menu.svg' %}" alt="menu">
                </div> -->
            </div>
            <div id="contents" class="contents">
                <div class="text" style="display: none;">
                    <h1 class="shine">DISCOVER</h1>
                    <h2>POPULAR AESTHETICS</h2>
                </div>
                <div class="buttons" style="display: none;">
                    <button style="background:#fff;color:#111;" onclick="window.open('/store', '_self');">Book
                        now</button>
                    <button onclick="$('html, body').animate({
                            scrollTop: $('.popularServices').offset().top
                        }, 2000);">Our services</button>
                </div>
                <div class="text">
                    <h4>Based in Luton, England</h4>
                </div>
            </div>
        </div>

        <!-- Popular services -->
        <div class="section popularServices">
            <h1 id="services">Our popular<br>services</h1>
            <div class="services">
                <div style="flex-direction: column;" class="center">
                    <div style="  background: url(https://images.unsplash.com/photo-1610551001590-724f148b57a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80) no-repeat center; background-size: cover;" class="ser">
                    </div>
                    <h2>Chemical Peel</h2>  
                </div>
                <div style="flex-direction: column;" class="center">
                    <div style="background: url(https://images.pexels.com/photos/4041391/pexels-photo-4041391.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4041391.jpg&fm=jpg) no-repeat center; background-size: cover;" class="ser">
                    </div> 
                    <h2>Custom Facial</h2>
                </div>
                <div style="flex-direction: column;" class="center">
                    <div style="background: url(https://images.unsplash.com/photo-1575330933415-cea1e7ce53eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80) no-repeat center; background-size: cover;" class="ser">
                    </div>
                    <h2>Dermaplaning (+ deluxe)</h2>
                </div>
            </div>
        </div>

        <!-- About -->
        <div class="section about">
            <div class="wwa skew">
                <div class="noskew wwa-content">
                    <div class="center">
                        <h3>Skin and Clear provides a wide range of advanced beauty, cosmetic
                            and aesthetic treatment carried out to the highest professional standard.</h3>
                    </div>
                </div>
            </div>
        </div>

        <section class="testimonial">
            <div class="t-text">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat eos deleniti unde beatae, voluptatum adipisci culpa!
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus obcaecati exercitationem quod nulla debitis at.
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo iusto doloremque qui aperiam!
            </p>
        </div>
            <img class="t-img" src="https://images.unsplash.com/photo-1583193510566-c5eb5403b88b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="skin and clear beauty products">
        </section>

        <!-- Footer -->
        <footer class="footer">
            <div class="ftop"></div>
            <div class="mainf">
                <h1>Get In Touch</h1>
                <div class="flinks">
                    <ul style="margin-left: 0;">
                        <h2>Contact</h2>
                        <li>201-469-7717</li>
                        <li>email@address.com</li>
                    </ul>
                    <ul>
                        <h2>Address</h2>
                        <li>1420 Willis Avenue </li>
                        <li>Jacksonville, FL 32216</li>
                    </ul>
                    <ul>
                        <h2>Socials</h2>
                        <div class="socials">
                            <i style="margin-left: 0;" class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                    </ul>
                </div>
            </div>
            <!-- <div class="copyright">
                <h4>© AFTERGLOW. ALL RIGHTS RESERVED</h4>
            </div> -->
        </footer>
    </div>

    <!-- Menu popup -->
    <!-- <div class="menupopup" id="menupopup">
        <button onclick="closeMenu();">X</button>
        <div class="items">
            <a href="/">Home</a>
            <a href="/store">Aesthetics</a>
            <a href="/basket">Basket</a>
        </div>
    </div> -->

    <script>
        window.addEventListener('scroll', function(){
            let header = document.getElementById('navbar');

            header.classList.toggle('scrolling-active', window.scrollY > 0)
        })
    </script>

</body>

</html>