{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AfterGlow</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}?{% now "U" %}">
        <script src="{% static 'js/navbar.js' %}"></script>
        <script src="" async defer></script>
    </head>
    <body>
        <!-- Main body section -->
        <div class="body">
            <div class="navbar">
                <div class="navitem" onclick="openMenu();">
                    <img src="{% static 'css/images/menu.svg' %}" alt="menu">
                </div>
                <div class="navitem">
                    <img src="{% static 'css/images/afterglowlogoxd.png' %}" alt="logo">
                </div>
                <div class="navitem">
                    <a href="/store"><img src="{% static 'css/images/store.svg' %}"/></a>
                </div>
            </div>
    
            <!-- Main section -->
            <div class="section main">
                <div class="bgimg"></div>
                <div class="contents">
                    <div class="text">
                        <h1>DISCOVER</h1>
                        <h2>POPULAR AESTHETICS</h2>
                    </div>
                    <div class="buttons">
                        <button class="filled">Book now</button>
                        <button class="transparent">Our services</button>
                    </div>
                    <div class="text">
                        <h4>Based in Luton, England</h4>
                    </div>
                </div>
            </div>
    
            <div class="sectiontransition"></div>
    
            <!-- About & Social media -->
            <div class="section about">
                <h1>AfterGlow</h1>
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis nisi eu eros accumsan efficitur vitae ultrices nunc. Fusce quis mi diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus, felis ut commodo tempus, risus lectus maximus metus, id porttitor erat elit non sem.</h3>
                <br/>
                <h4>Follow us!</h4>
                <div class="media_container">
                    <!-- Facebook -->
                    <a href=""><img src="https://img.icons8.com/doodle/48/000000/facebook-new.png"/></a>
    
                    <!-- Instagram -->
                    <a href=""><img src="https://img.icons8.com/doodle/48/000000/instagram-new.png"/></a>
    
                    <!-- Twitter -->
                    <a href=""><img src="https://img.icons8.com/doodle/48/000000/twitter-circled.png"/></a>
    
                    <!-- Youtube -->
                    <a href=""><img src="https://img.icons8.com/doodle/48/000000/youtube-play--v2.png"/></a>
                </div>
            </div>
    
            <!-- Footer -->
            <div class="footer">
                <div class="main">
                    <h3>AfterGlow</h3>
                    <div class="links">
                        <a href="/">Home</a>
                        <a href="/404">Bookings</a>
                        <a href="/contact">Contact us</a>
                    </div>
                </div>
                <div class="copyright">
                    <h4>© AFTERGLOW. ALL RIGHTS RESERVED</h4>
                </div>
            </div>
        </div>

        <!-- Menu popup -->
        <div class="menupopup" id="menupopup">
            <button onclick="closeMenu();">X</button>
            <div class="items">
                <a href="/">HOME</a>
                <a href="/store">AESTHETICS</a>
                <a href="/basket">BASKET</a>
            </div>
        </div>
    </body>
</html>