<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
  </head>

  <body>
    <div class = "title" > 
        <h2> Booking Confirmation </h1>
        </div> 
        <div class = "container">
            <div class = "name"> 
                <h5 id = "id_name" > 
                    Name: {{name}}

                 </h5> 
             </div> 
             <div class = "email"> 
                <h5 id = "id_email" > 
                    Email: {{email}}

                 </h5> 
             </div> 
             <div class = "amount"> 
                <h5 id = "id_amount" > 
                    Amount: {{totalPrice}}
                    
                 </h5> 
             </div> 
             <div class = "totaltime"> 
                <h5 id = "id_totaltime" > 
                    Service time estimated: {{totalTime}}
                    
                 </h5> 
             </div> 
            
       <div id="paypal-button-container"></div>
    </div>
    <script src="https://www.paypal.com/sdk/js?client-id=AVZ1D0Qx5d8HRtIoMTcjgcQxAoz581PCB1L0EH8TVAbqKHCY_is-wOUotvxbMUGfTjM7mqnaxoLki1b0&currency=GBP"></script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken')
        var total = '{{totalPrice}}'
        var transaction_id = "{{transaction_id}}"
        var url = "{% url 'website:complete_order' %}"
        function initPayPalButton(){  
            
            paypal.Buttons({
                style: {
                    color: 'blue', 
                    shape: 'rect',
                    label: 'pay',
                    height: 40,
                    },
            createOrder: function(data, actions) {
              // This function sets up the details of the transaction, including the amount and line item details.
              return actions.order.create({
                purchase_units: [{
                  amount: {
                    value: total
                  }
                }]
              });
            },
            onApprove: function(data) {
              // This function captures the funds from the transaction.
              return fetch(url, {
                  method: 'POST',
                  headers: {
                      'content-type': 'application/json',
                      'X-CSRFToken': csrftoken,
                  },
                  body: JSON.stringify({
                      'transaction_id' : transaction_id
                  })
              }).then(function (){
                  location.href = '';

              })
            },
          }).render('#paypal-button-container');


        }
        initPayPalButton();
        </script> 


</body>

</html>






