<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
  </head>

  <body>
    <div class = "Details" > 
      <h3> Price: £{{totalPrice}} </h3>
    </div> 
    <div id="paypal-button-container"></div>
    <script src="https://www.paypal.com/sdk/js?client-id=AVZ1D0Qx5d8HRtIoMTcjgcQxAoz581PCB1L0EH8TVAbqKHCY_is-wOUotvxbMUGfTjM7mqnaxoLki1b0&currency=GBP"></script>
    <script>
      var total = '{{totalPrice}}'
      paypal.Buttons({

        style: {
          color: 'blue', 
          shape: 'rect',
          label: 'pay',
          height: 40,
        },

        // Sets up the transaction when a payment button is clicked
        createOrder: function(data, actions) {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: total// Can reference variables or functions. Example: `value: document.getElementById('...').value`
              }
            }]
          });
        },

        // Finalize the transaction after payer approval
        onApprove: function(data, actions) {
          return actions.order.capture().then(function(orderData) {
            // Successful capture! For dev/demo purposes:
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];
                alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

            // When ready to go live, remove the alert and show a success message within this page. For example:
            // var element = document.getElementById('paypal-button-container');
            // element.innerHTML = '';
            // element.innerHTML = '<h3>Thank you for your payment!</h3>';
            // Or go to another URL:  actions.redirect('thank_you.html');
          });
        }
      }).render('#paypal-button-container');

    </script>
  </body>
</html>



function getCookie(name) {
  let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
     return cookieValue;
}
const csrftoken = getCookie('csrftoken');

var total = '{{totalPrice}}'
var transaction_id = "{{transaction_id}}"

function completeOrder(){
  var url = '{% url 'complete' % }' 
  fetch(url, {
      method: 'POST', 
      headers: {
          'X-CSRFToken': csrftoken
          'Content-type': 'application/json'
      },
      body.JSON(stringify({'transaction_id'}))
  })

}
paypal.Buttons({

  style: {
    color: 'blue', 
    shape: 'rect',
    label: 'pay',
    height: 40,
  },

  // Sets up the transaction when a payment button is clicked
  createOrder: function(data, actions) {
    return actions.order.create({
      purchase_units: [{
        amount: {
          value: total// Can reference variables or functions. Example: `value: document.getElementById('...').value`
        }
      }]
    });
  },

  // Finalize the transaction after payer approval
  onApprove: function(data, actions) {
    return actions.order.capture().then(function(orderData) {
      // Successful capture! For dev/demo purposes:
          completeOrder()
          alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

      // When ready to go live, remove the alert and show a success message within this page. For example:
      // var element = document.getElementById('paypal-button-container');
      // element.innerHTML = '';
      // element.innerHTML = '<h3>Thank you for your payment!</h3>';
      // Or go to another URL:  actions.redirect('thank_you.html');
    });
  }
}).render('#paypal-button-container');

</script>









{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Checkout</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/payment.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}?{% now "U" %}">
        <script src="{% static 'js/navbar.js' %}"></script>
        <script src="" async defer></script>
    </head>

    <body> 
        <div class="body">
            <!-- Navigation bar -->
            <div class="navbar">
                <div class="navitem" onclick="openMenu();">
                    <img src="{% static 'css/images/menu.svg' %}" alt="menu">
                </div>
                <div class="navitem">
                    <img src="{% static 'css/images/logo.png' %}" alt="logo">
                </div>
                <div class="navitem">
                    <a href="/basket"><img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-shopping-cart-interface-kiranshastry-lineal-kiranshastry-1.png"/></a>
                </div>
            </div>
        <div class = "title" > 
        <h2> Booking Confirmation </h1>
        </div> 
        <div class = "container">
            <div class = "name"> 
                <h5 id = "id_name" > 
                    Name: {{name}}

                 </h5> 
             </div> 
             <div class = "email"> 
                <h5 id = "id_email" > 
                    Email: {{email}}

                 </h5> 
             </div> 
             <div class = "amount"> 
                <h5 id = "id_amount" > 
                    Amount: {{totalPrice}}
                    
                 </h5> 
             </div> 
             <div class = "totaltime"> 
                <h5 id = "id_totaltime" > 
                    Service time estimated: {{totalTime}}
                    
                 </h5> 
             </div> 
             <div id="paypal-button-container"></div>                
        </div>
        <script src="https://www.paypal.com/sdk/js?client-id=AVZ1D0Qx5d8HRtIoMTcjgcQxAoz581PCB1L0EH8TVAbqKHCY_is-wOUotvxbMUGfTjM7mqnaxoLki1b0&currency=GBP"></script>
        <script>
            var total = '{{totalPrice}}'
            paypal.Buttons({
      
              style: {
                color: 'blue', 
                shape: 'rect',
                label: 'pay',
                height: 40,
              },
      
              // Sets up the transaction when a payment button is clicked
              createOrder: function(data, actions) {
                return actions.order.create({
                  purchase_units: [{
                    amount: {
                      value: total// Can reference variables or functions. Example: `value: document.getElementById('...').value`
                    }
                  }]
                });
              },
      
              // Finalize the transaction after payer approval
              onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                  // Successful capture! For dev/demo purposes:
                      console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                      var transaction = orderData.purchase_units[0].payments.captures[0];
                      alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
      
                  // When ready to go live, remove the alert and show a success message within this page. For example:
                  // var element = document.getElementById('paypal-button-container');
                  // element.innerHTML = '';
                  // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                  // Or go to another URL:  actions.redirect('thank_you.html');
                });
              }
            }).render('#paypal-button-container');
    </body> 
</html>