{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Payment Successful</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/palette.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/success.css' %}?{% now "U"%}"> 
        <script src="{% static 'js/navbar.js' %}"></script>
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/index.js' %}?{% now "U" %}"></script>
        <script src="" async defer></script>
    </head>

  <body>
            <!-- Main body section -->
            <div class="body">
              <div class="navbar">
                  <div class="navitem filtered" onclick="openMenu();">
                      <img src="{% static 'css/images/menu.svg' %}" alt="menu">
                  </div>
                  <div class="navitem filtered">
                      <img src="{% static 'css/images/logo.png' %}" alt="logo">
                  </div>
                  <div class="navitem">
                      <a href="/store"><img src="{% static 'css/images/store.svg' %}"/></a>
                  </div>
              </div>
              
    <div class = "title" > 
        <h2> BOOKING PAYMENT </h2>
        </div> 
        <div class = "container">
            <div class = "name"> 
                <h4 id = "id_name" > 
                    Name: {{name}}

                 </h4> 
             </div> 
             <div class = "email"> 
                <h4 id = "id_email" > 
                    Email: {{email}}

                 </h4> 
             </div> 
             <div class = "amount"> 
                <h4 id = "id_amount" > 
                    Amount: £{{totalPrice}}
                    
                 </h4> 
             </div> 
             <div class = "totaltime"> 
                <h4 id = "id_totaltime" > 
                    Service Time Estimated: {{totalTime}} Minutes
                    
                 </h4> 
             </div> 
             <div class = 'date' >
                 <h4 id = 'id_date' >
                     Date: {{date}}
                 </h4>
                </div>
            
       <div id="paypal-button-container"></div>
    </div>
    <script src="https://www.paypal.com/sdk/js?client-id=AVZ1D0Qx5d8HRtIoMTcjgcQxAoz581PCB1L0EH8TVAbqKHCY_is-wOUotvxbMUGfTjM7mqnaxoLki1b0&currency=GBP"></script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken')
        var total = '{{totalPrice}}'
        var transaction_id = "{{transaction_id}}"
        var url = "{% url 'website:complete_order' %}"
        function initPayPalButton(){  
            
            paypal.Buttons({
                style: {
                    color: 'blue', 
                    shape: 'rect',
                    label: 'pay',
                    height: 40,
                    },
            createOrder: function(data, actions) {
              // This function sets up the details of the transaction, including the amount and line item details.
              return actions.order.create({
                purchase_units: [{
                  amount: {
                    value: total
                  }
                }]
              });
            },
            onApprove: function(data) {
              // This function captures the funds from the transaction.
              return fetch(url, {
                  method: 'POST',
                  headers: {
                      'content-type': 'application/json',
                      'X-CSRFToken': csrftoken,
                  },
                  body: JSON.stringify({
                      'transaction_id' : transaction_id
                  })
              }).then(function (){
                  location.href = '{% url 'website:payment_successful' %}';

              })
            },
          }).render('#paypal-button-container');


        }
        initPayPalButton();
        </script> 

        <div class="menupopup" id="menupopup">
          <button onclick="closeMenu();">X</button>
          <div class="items">
              <a href="/">HOME</a>
              <a href="/store">AESTHETICS</a>
              <a href="/basket">BASKET</a>
          </div>
      </div>
</body>

</html>






