{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AfterGlow Store</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/palette.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/store.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'notifs/style.css' %}?{% now "U" %}">
        <script type="text/javascript">
            {% autoescape off %}
                const helpTexts = {{ help }};
            {% endautoescape %}
        </script>
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/navbar.js' %}?{% now "U" %}"></script>
        <script src="{% static 'js/store.js' %}?{% now "U" %}"></script>
        <script src="{% static 'notifs/index.var.js' %}?{% now "U" %}"></script>
        <script src="{% static 'js/storeBasket.js' %}?{% now "U" %}"></script>

        <link rel="shortcut icon" href="{% static 'css/images/favicon.ico' %}" type="image/x-icon">
        <script src="https://kit.fontawesome.com/42509ed0ff.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Main body section -->
        <div class="body">
            <!-- Navigation bar -->
            <!-- <div class="navbar">
                <div class="navitem" onclick="openMenu();">
                    <img src="{% static 'css/images/menu.svg' %}" alt="menu">
                </div>
                <div class="navitem">
                    <img style="height: 50px;" src="{% static 'css/images/logo.png' %}" alt="logo">
                </div>
                <div class="navitem">
                    <a href="/basket"><img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-shopping-cart-interface-kiranshastry-lineal-kiranshastry-1.png"/></a>
                </div>
            </div> --> 
            <div id="navbar" class="navbar">
                <div class="navitem">
                    <img class="logo" src="{% static 'css/images/logo.png' %}" alt="logo">
                </div>
                <ul class="navitems">
                    <a href="/">HOME</a>
                    <a id="store" href="/store">AESHTHETICS</a>
                    <a style="margin-right:0;" href="/basket">BASKET</a>
                </ul>
                <div id="hamburger" class="hamburger navitem filtered" onclick="openMenu();">
                    <i style="color: #111; font-size: 2rem;" class="fa-solid fa-bars"></i>
                </div>
            </div>

            <div class="title">
                <h1 id="page"></h1>
                <div class="separator"></div>
            </div>

            <div class="catswiper">
                <img class="arrow" src="{% static 'css/images/left-arrow.svg' %}" onclick="swipe(-1);">
                <h2 id="catname">Category</h2>
                <img class="arrow" src="{% static 'css/images/right-arrow.svg' %}?2" onclick="swipe(1);">
            </div>

            <div class="category" id="SKIN">
                <div class="products">
                    {% autoescape off %}
                        {{ SKIN }}
                    {% endautoescape %}
                </div>
            </div>

            <div class="category" id="HEALTH">
                <div class="products">
                    {% autoescape off %}
                        {{ HEALTH }}
                    {% endautoescape %}
                </div>
            </div>

            <div class="category" id="NON_INV">
                <div class="products">
                    {% autoescape off %}
                        {{ NON_INV }}
                    {% endautoescape %}
                </div>
            </div>

            <div class="category" id="APP">
                <div class="products">
                    {% autoescape off %}
                        {{ APP }}
                    {% endautoescape %}
                </div>
            </div>

            <!-- Footer -->
            <footer class="footer">
                <div class="ftop"></div>
                <div class="mainf">
                    <h1>Get In Touch</h1>
                    <div class="flinks">
                        <ul style="margin-left: 0; padding-left: 0; margin-top: 0;">
                            <h2>Contact</h2>
                            <a style="font-family: Poppins;" href="tel:07360 473668">07360 473668</a> <br>
                            <a style="font-family: Poppins;" href="skinandclearinfo@gmail.com">skinandclearinfo@gmail.com</a>
                        </ul>
                        <ul  style="padding-left: 0;">
                            <h2>Address</h2>
                            <li>1 Oak Road, Luton </li>
                            <li>Bedfordshire, LU4 8AA</li>
                        </ul>
                        <ul style="margin-bottom: 0; padding-left: 0;">
                            <h2>Socials</h2>
                            <div class="socials">
                                <a href="https://twitter.com"><i style="margin-left: 0;" class="fa-brands fa-twitter"></i></a>
                                <a href="https://facbook.com"><i class="fa-brands fa-facebook"></i></a>
                                <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                        </ul>
                    </div>
                </div>
                <!-- <div class="copyright">
                    <h4>© AFTERGLOW. ALL RIGHTS RESERVED</h4>
                </div> -->
            </footer>
        </div>

        <!-- Menu popup -->
        <div class="menupopup" id="menupopup">
            <button style="color: #fff;" onclick="closeMenu();"><i style="font-size: 2rem;" class="fa-solid fa-xmark"></i></button>
            <div class="items">
                <a href="/">Home</a>
                <a href="/store">Aesthetics</a>
                <a href="/basket">Basket</a>
                <a href="/store?page=products">Products</a>
                <a href="/store?page=beauty">Beauty</a>
            </div>
        </div> 
    </body>
</html>