{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AfterGlow Store</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/palette.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/store.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'notifs/style.css' %}?{% now "U" %}">
        <script type="text/javascript">
            {% autoescape off %}
                const helpTexts = {{ help }};
            {% endautoescape %}
        </script>
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/navbar.js' %}?{% now "U" %}"></script>
        <script src="{% static 'js/store.js' %}?{% now "U" %}"></script>
        <script src="{% static 'notifs/index.var.js' %}?{% now "U" %}"></script>
        <script src="{% static 'js/storeBasket.js' %}?{% now "U" %}"></script>
    </head>
    <body>
        <!-- Main body section -->
        <div class="body">
            <!-- Navigation bar -->
            <div class="navbar">
                <div class="navitem" onclick="openMenu();">
                    <img src="{% static 'css/images/menu.svg' %}" alt="menu">
                </div>
                <div class="navitem">
                    <img src="{% static 'css/images/logo.png' %}" alt="logo">
                </div>
                <div class="navitem">
                    <a href="/basket"><img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-shopping-cart-interface-kiranshastry-lineal-kiranshastry-1.png"/></a>
                </div>
            </div>

            <div class="title">
                <h1>AESTHETICS</h1>
                <div class="separator"></div>
            </div>

            <div class="catswiper">
                <img class="arrow" src="{% static 'css/images/left-arrow.svg' %}" onclick="swipe(-1);">
                <h2 id="catname">Category</h2>
                <img class="arrow" src="{% static 'css/images/right-arrow.svg' %}?2" onclick="swipe(1);">
            </div>

            <div class="category" id="SKIN">
                <div class="products">
                    {% autoescape off %}
                        {{ SKIN }}
                    {% endautoescape %}
                </div>
            </div>

            <div class="category" id="HEALTH">
                <div class="products">
                    {% autoescape off %}
                        {{ HEALTH }}
                    {% endautoescape %}
                </div>
            </div>

            <div class="category" id="NON_INV">
                <div class="products">
                    {% autoescape off %}
                        {{ NON_INV }}
                    {% endautoescape %}
                </div>
            </div>

            <div class="category" id="APP">
                <div class="products">
                    {% autoescape off %}
                        {{ APP }}
                    {% endautoescape %}
                </div>
            </div>

            <!-- Footer -->
            <footer class="footer">
                <div class="mainf">
                    <h3>Skin & Clear</h3>
                    <div class="links">
                        <a style="margin-top: 0;" href="/">Home</a>
                        <a href="/customer">Bookings</a>
                        <a style="margin-bottom: 0;" href="/contact">Contact us</a>
                    </div>
                </div>
                <div class="copyright">
                    <h4>© AFTERGLOW. ALL RIGHTS RESERVED</h4>
                </div>
            </footer>
        </div>

        <!-- Menu popup -->
        <div class="menupopup" id="menupopup">
            <button onclick="closeMenu();">X</button>
            <div class="items">
                <a href="/">HOME</a>
                <a href="/store">AESTHETICS</a>
                <a href="/basket">BASKET</a>
            </div>
        </div>
    </body>
</html>