{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AfterGlow Store</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/store.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}?{% now "U" %}">
        <script src="{% static 'js/navbar.js' %}"></script>
        <script src="{% static 'js/store.js' %}"></script>
        <script src="" async defer></script>
    </head>
    <body>
        <!-- Main body section -->
        <div class="body">
            <!-- Navigation bar -->
            <div class="navbar">
                <div class="navitem" onclick="openMenu();">
                    <img src="{% static 'css/images/menu.svg' %}" alt="menu">
                </div>
                <div class="navitem">
                    <img src="{% static 'css/images/afterglowlogoxd.png' %}" alt="logo">
                </div>
                <div class="navitem">
                    <a href="/basket"><img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-shopping-cart-interface-kiranshastry-lineal-kiranshastry-1.png"/></a>
                </div>
            </div>

            <div class="title">
                <h1>Store</h1>
                <div class="separator"></div>
            </div>

            <div class="catswiper">
                <img class="arrow" src="{% static 'css/images/left-arrow.svg' %}" onclick="swipeLeft();">
                <h2 id="catname">Category</h2>
                <img class="arrow" src="{% static 'css/images/right-arrow.svg' %}" onclick="swipeRight();">
            </div>

            <!-- A single category -->
            <div class="category" id="SKIN">
                <div class="products">
                    <div class="product">
                        <img src="https://via.placeholder.com/100">
                        <div class="details">
                            <h3>Service name</h3>
                            <div class="pricetime">
                                <h4>40</h4>
                                <h4>45 min</h4>
                            </div>
                            <div class="actions">
                                <button class="addToBasket">Add to basket</button>
                                <button class="help">?</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <div class="footer">
                <div class="main">
                    <h3>AfterGlow</h3>
                    <div class="links">
                        <a href="/">Home</a>
                        <a href="/404">Bookings</a>
                        <a href="/contact">Contact us</a>
                    </div>
                </div>
                <div class="copyright">
                    <h4>© AFTERGLOW. ALL RIGHTS RESERVED</h4>
                </div>
            </div>
        </div>

        <!-- Menu popup -->
        <div class="menupopup" id="menupopup">
            <button onclick="closeMenu();">X</button>
            <div class="items">
                <a href="/">HOME</a>
                <a href="/store">AESTHETICS</a>
                <a href="/basket">BASKET</a>
            </div>
        </div>
    </body>
</html>